[submodule "deps/compass"]
	path = deps/compass
	url = git://github.com/chriseppstein/compass.git
[submodule "deps/blueprint"]
	path = deps/blueprint
	url = git://github.com/joshuaclayton/blueprint-css.git
[submodule "deps/backbone"]
	path = deps/backbone
	url = git://github.com/documentcloud/backbone.git
