<div class='container'>
	<nav class='span-4'>
		<h1>Brad<br>Dunbar</h1>
		<ul class='titles'>
			<li><a href='#web'>Web Engineer</a></li>
			<li><a href='#algorithms'>Algorithms</a></li>
			<li><a href='#sourcecontrol'>Source Control</a></li>
			<li><a href='#experience'>Experience</a></li>
			<li><a href='#education'>Education</a></li>
		</ul>
	</nav>
	<div class='push-5 span-18 last'>
		<section id='web'>
			<article class='span-6'>
				<h2>Html&#x2770;&#x2771;</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet ante quis quam tempus et varius ante rhoncus. In gravida dignissim enim vel varius. Maecenas scelerisque commodo justo, sit amet aliquet felis varius at. Curabitur dignissim nulla et dui pellentesque nec molestie nulla placerat. Vestibulum tincidunt luctus mauris mollis tempus. Vestibulum euismod varius erat, ac blandit odio pharetra et. Curabitur pellentesque gravida odio, in vulputate enim porttitor ut. Aliquam nulla lacus, lobortis vel viverra id, malesuada id massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque id accumsan odio. Curabitur congue suscipit euismod. Donec ac luctus dui. Nullam lacus enim, semper ac convallis vel, vestibulum in odio.
				</p>
			</article>
			<article class='span-6'>
				<h2>Css&#x273b;</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet ante quis quam tempus et varius ante rhoncus. In gravida dignissim enim vel varius. Maecenas scelerisque commodo justo, sit amet aliquet felis varius at. Curabitur dignissim nulla et dui pellentesque nec molestie nulla placerat. Vestibulum tincidunt luctus mauris mollis tempus. Vestibulum euismod varius erat, ac blandit odio pharetra et. Curabitur pellentesque gravida odio, in vulputate enim porttitor ut. Aliquam nulla lacus, lobortis vel viverra id, malesuada id massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque id accumsan odio. Curabitur congue suscipit euismod. Donec ac luctus dui. Nullam lacus enim, semper ac convallis vel, vestibulum in odio.
				</p>
			</article>
			<article class='span-6 last'>
				<h2>Javascript&#x2774;&#x2775;</h2>
				<p>
					I <span class='heart'><3</span> javascript.
					<code>(function(){})()</code> is a lexical scoping hug, and
					<code>{}</code> is an object literal kiss.
				</p>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet ante quis quam tempus et varius ante rhoncus. In gravida dignissim enim vel varius. Maecenas scelerisque commodo justo, sit amet aliquet felis varius at. Curabitur dignissim nulla et dui pellentesque nec molestie nulla placerat. Vestibulum tincidunt luctus mauris mollis tempus. Vestibulum euismod varius erat, ac blandit odio pharetra et. Curabitur pellentesque gravida odio, in vulputate enim porttitor ut. Aliquam nulla lacus, lobortis vel viverra id, malesuada id massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque id accumsan odio. Curabitur congue suscipit euismod. Donec ac luctus dui. Nullam lacus enim, semper ac convallis vel, vestibulum in odio.
				</p>
			</article>
		</section>
		<section id='algorithms'>
			<article class='span-18 last'>
				<h2>Algorithms</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet ante quis quam tempus et varius ante rhoncus. In gravida dignissim enim vel varius. Maecenas scelerisque commodo justo, sit amet aliquet felis varius at. Curabitur dignissim nulla et dui pellentesque nec molestie nulla placerat. Vestibulum tincidunt luctus mauris mollis tempus. Vestibulum euismod varius erat, ac blandit odio pharetra et. Curabitur pellentesque gravida odio, in vulputate enim porttitor ut. Aliquam nulla lacus, lobortis vel viverra id, malesuada id massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque id accumsan odio. Curabitur congue suscipit euismod. Donec ac luctus dui. Nullam lacus enim, semper ac convallis vel, vestibulum in odio.
				</p>

				<p>
				Vivamus arcu eros, malesuada ac bibendum vitae, vehicula quis nisi. Maecenas diam eros, condimentum sit amet dignissim nec, ultrices et diam. Quisque in enim in tortor consequat eleifend. Duis arcu turpis, tristique placerat posuere in, luctus quis odio. Sed lectus ligula, luctus in vestibulum pulvinar, sagittis a lacus. Ut aliquam ornare leo, eu bibendum dolor hendrerit ac. Proin aliquet semper lorem ut ullamcorper. Cras ornare sodales risus, et venenatis velit molestie eget. Donec non orci lorem. Proin sed dolor sed ligula aliquet sodales non at sem. Nunc convallis porttitor nisi ac accumsan. Curabitur laoreet velit laoreet nibh hendrerit suscipit. Nam interdum, risus ac accumsan ullamcorper, velit augue luctus purus, sit amet posuere enim turpis a nisi. In ac tortor vel mi interdum sollicitudin. Vestibulum at est turpis. Mauris justo ipsum, varius vel dictum a, hendrerit vitae velit. Duis lobortis, lectus nec pellentesque vulputate, dui nisl tristique mi, non pellentesque augue nulla ut mi. Maecenas commodo tortor sit amet dolor condimentum nec blandit dui malesuada.
				</p>

				<p>
				Donec consectetur euismod erat sed faucibus. Nulla rhoncus dolor ut diam dapibus feugiat. Curabitur facilisis ipsum diam, non imperdiet nisl. Fusce ac tortor ac lacus volutpat viverra non vel erat. Nunc faucibus, augue ut viverra pulvinar, metus mauris tempor lorem, id dignissim tellus velit quis augue. Maecenas eros justo, consequat et hendrerit in, ultrices quis nibh. Quisque eleifend dictum lacus, eu consectetur purus dapibus sed. Sed molestie ultricies orci, non ullamcorper massa rutrum non. Duis sodales ullamcorper lorem et condimentum. Fusce auctor urna lacus.
				</p>

				<p>
				Donec non placerat nunc. Praesent sit amet elit sapien. Etiam ultrices neque ut est mattis vestibulum. Suspendisse erat augue, faucibus sit amet tristique lobortis, convallis id dolor. Curabitur mattis felis non sapien viverra tincidunt. Nullam varius libero vitae turpis tempor fringilla sit amet ut nulla. Curabitur vulputate facilisis erat, nec euismod diam adipiscing sit amet. Etiam convallis felis a sem dapibus eu gravida erat lobortis. Aliquam sit amet est massa. Sed molestie posuere nulla, vel dapibus nisi posuere ac.
				</p>

				<p>
				Nunc at diam nec augue sagittis molestie ut at purus. Duis dolor metus, tempor a suscipit sed, tempus scelerisque augue. Aliquam pretium eleifend consequat. Mauris congue nibh at arcu elementum volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer lorem sem, dictum at aliquam eget, semper at massa. Morbi sed sem sit amet leo laoreet posuere ut ultricies elit. Quisque facilisis, lectus vel auctor congue, massa arcu tincidunt lectus, ac vestibulum mauris leo eget nibh. Nullam in lobortis velit. Sed quis dui dolor, eu malesuada leo. Ut rutrum aliquam porttitor. Donec id augue sem, blandit varius nisi. Donec nec lorem ut orci tempus faucibus convallis et sem. Integer commodo ultrices lobortis. Sed aliquam nulla ut nisi fringilla et bibendum diam pretium. Maecenas purus elit, auctor non tincidunt at, posuere non nibh. Maecenas cursus est purus. Integer nunc est, pretium nec dictum id, aliquam vitae mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				</p>
			</article>
		</section>
		<section id='sourcecontrol'>
			<article class='span-18 last'>
				<h2>Source Control</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet ante quis quam tempus et varius ante rhoncus. In gravida dignissim enim vel varius. Maecenas scelerisque commodo justo, sit amet aliquet felis varius at. Curabitur dignissim nulla et dui pellentesque nec molestie nulla placerat. Vestibulum tincidunt luctus mauris mollis tempus. Vestibulum euismod varius erat, ac blandit odio pharetra et. Curabitur pellentesque gravida odio, in vulputate enim porttitor ut. Aliquam nulla lacus, lobortis vel viverra id, malesuada id massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque id accumsan odio. Curabitur congue suscipit euismod. Donec ac luctus dui. Nullam lacus enim, semper ac convallis vel, vestibulum in odio.
				</p>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur laoreet ante quis quam tempus et varius ante rhoncus. In gravida dignissim enim vel varius. Maecenas scelerisque commodo justo, sit amet aliquet felis varius at. Curabitur dignissim nulla et dui pellentesque nec molestie nulla placerat. Vestibulum tincidunt luctus mauris mollis tempus. Vestibulum euismod varius erat, ac blandit odio pharetra et. Curabitur pellentesque gravida odio, in vulputate enim porttitor ut. Aliquam nulla lacus, lobortis vel viverra id, malesuada id massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque id accumsan odio. Curabitur congue suscipit euismod. Donec ac luctus dui. Nullam lacus enim, semper ac convallis vel, vestibulum in odio.
				</p>
			</article>
		</section>
		<section id='experience'>
			<div class='clearfix'>
				<article class='span-6'>
					<h2>Senior Software Engineer</h2>
					<em>Chapin SC<br>Nov 2010 - Present</em>
					<br>
					<strong>General Information Systems</strong>
					<hr>
					<p>
						I currently work on streamlining a rather large
						javascript codebase, along with a good helping of
						backend development using an MVC paradigm.  I also get
						to help out other developers who don't have much
						experience writing javascript.
					</p>
				</article>
				<article class='span-6'>
					<h2>Lead Developer</h2>
					<em>Columbia SC<br>Oct 2008 - Nov 2010</em>
					<br>
					<strong>CGM Computer Consulting</strong>
					<hr>
					<p>
						As the primary developer, I created a custom CMS for
						the Basic Combat Training unit at Fort Jackson SC.
						Since I was the only developer, I learned a great deal
						about cleaning up my own messes and just making things work.
					</p>
				</article>
				<article class='span-6 last'>
					<h2>Web Developer</h2>
					<em>Columbia SC<br>Sep 2007 - Oct 2008</em>
					<br>
					<strong>Seibels Bruce Insurance</strong>
					<hr>
					<p>
						I worked alongside a team of developers on high
						traffic, customer facing line of business web
						applications.
					</p>
				</article>
			</div>
			<div class='clearfix'>
				<article class='span-6 last'>
					<h2>Web Developer</h2>
					<strong>SCANA Services</strong>
					<br>
					<em>Columbia SC<br>Mar 2006 - Sep 2007</em>
					<hr>
					<p>
						I developed solutions for many intra-company problems
						including storage of technical drawings and maintenance
						of reporting tools.
					</p>
				</article>
			</div>
		</section>
		<section id='education'>
			<article class='span-9'>
				<h2>Bachelor of Science in Engineering</h2>
			</article>
			<article class='span-9 last'>
				<h2>Doctor of Philosophy</h2>
			</article>
		</section>
	</div>
</div>
