<!doctype html>
<html>
<head>
	<title>brad dunbar</title>
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Indie+Flower'>

	<% if(app.settings.env == 'production'){ %>
		<link rel='stylesheet' href='/css/_screen.css'>
	<% }else{ %>
		<link rel='stylesheet' href='/css/screen.css'>
	<% } %>
</head>
<body>
	<h1>brad dunbar</h1>
</body>
</html>
